LY.MES.WFCL/Service References/SRDepartment/DepartmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDepartmentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:16498/Base/DepartmentService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_GetDepartmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentList" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddDepartmentData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartmentData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddDepartmentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddDepartmentData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataDepartmentData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdataDepartmentData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataDepartmentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdataDepartmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataDepartmentData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelDepartmentData_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDepartmentData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelDepartmentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDepartmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelDepartmentData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPersonList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonList" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPersonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPersonList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q5:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddPersonData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddPersonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_AddPersonData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q6:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataPersonData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdataPersonData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataPersonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdataPersonDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdataPersonData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q7:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelPersonData_InputMessage">
    <wsdl:part name="parameters" element="tns:DelPersonData" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelPersonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelPersonDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DelPersonData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q8:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="GetDepartmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentList" message="tns:IDepartmentService_GetDepartmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentListResponse" message="tns:IDepartmentService_GetDepartmentList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_GetDepartmentList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDepartmentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/AddDepartmentData" message="tns:IDepartmentService_AddDepartmentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/AddDepartmentDataResponse" message="tns:IDepartmentService_AddDepartmentData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/AddDepartmentDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_AddDepartmentData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdataDepartmentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/UpdataDepartmentData" message="tns:IDepartmentService_UpdataDepartmentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/UpdataDepartmentDataResponse" message="tns:IDepartmentService_UpdataDepartmentData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/UpdataDepartmentDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_UpdataDepartmentData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/DelDepartmentData" message="tns:IDepartmentService_DelDepartmentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/DelDepartmentDataResponse" message="tns:IDepartmentService_DelDepartmentData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/DelDepartmentDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_DelDepartmentData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetPersonList" message="tns:IDepartmentService_GetPersonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetPersonListResponse" message="tns:IDepartmentService_GetPersonList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetPersonListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_GetPersonList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/AddPersonData" message="tns:IDepartmentService_AddPersonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/AddPersonDataResponse" message="tns:IDepartmentService_AddPersonData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/AddPersonDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_AddPersonData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdataPersonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/UpdataPersonData" message="tns:IDepartmentService_UpdataPersonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/UpdataPersonDataResponse" message="tns:IDepartmentService_UpdataPersonData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/UpdataPersonDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_UpdataPersonData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelPersonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/DelPersonData" message="tns:IDepartmentService_DelPersonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/DelPersonDataResponse" message="tns:IDepartmentService_DelPersonData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/DelPersonDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDepartmentService_DelPersonData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDepartmentService" type="tns:IDepartmentService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDepartmentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartmentList">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/GetDepartmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDepartmentData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/AddDepartmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdataDepartmentData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/UpdataDepartmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/DelDepartmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPersonList">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/GetPersonList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPersonData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/AddPersonData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdataPersonData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/UpdataPersonData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelPersonData">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/DelPersonData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="WSHttpBinding_IDepartmentService" binding="tns:WSHttpBinding_IDepartmentService">
      <soap12:address location="http://localhost:16498/Base/DepartmentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/Base/DepartmentService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>