LY.MES.WFCL/Service References/SRCfPExecute/CfPExecute.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CfPExecute" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICfPExecute_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/Drums/CfPExecute.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/CfPExecute.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/CfPExecute.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/CfPExecute.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICfPExecute_GetCfPExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecute" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecute_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecutes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecutes" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecutesResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecutes_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByArrCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDurmsUpFeedingByArrCode" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByArrCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDurmsUpFeedingByArrCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByArrCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByDevCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDurmsUpFeedingByDevCode" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByDevCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDurmsUpFeedingByDevCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetDurmsUpFeedingByDevCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchLog" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLog_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q5:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLogByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchLogByCode" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLogByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchLogByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchLogByCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q6:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchByVw_InputMessage">
    <wsdl:part name="parameters" element="tns:InsterArrVouchByVw" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchByVw_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsterArrVouchByVwResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchByVw_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q7:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsterArrVouchLog" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsterArrVouchLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_InsterArrVouchLog_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q8:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GeCraftsProcessdByWorkbrachName_InputMessage">
    <wsdl:part name="parameters" element="tns:GeCraftsProcessdByWorkbrachName" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GeCraftsProcessdByWorkbrachName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeCraftsProcessdByWorkbrachNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GeCraftsProcessdByWorkbrachName_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q9:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedBySameTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedBySameTime" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedBySameTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedBySameTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedBySameTime_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q10:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangedVouchCode" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangedVouchCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q11:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsProcessExecute" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsProcessExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessExecute_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q12:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_InputMessage">
    <wsdl:part name="parameters" element="tns:Getvw_DurmsUpFeedingByWorkbrachName" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_OutputMessage">
    <wsdl:part name="parameters" element="tns:Getvw_DurmsUpFeedingByWorkbrachNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q13:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangedVouchWeight" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangedVouchWeightResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateArrangedVouchWeight_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q14:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchCodeByLicensenNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchCodeByLicensenNum" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchCodeByLicensenNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchCodeByLicensenNumResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetArrangedVouchCodeByLicensenNum_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q15:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecuteByArrangedVouchCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecuteByArrangedVouchCode" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecuteByArrangedVouchCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCfPExecuteByArrangedVouchCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_GetCfPExecuteByArrangedVouchCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q16:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessByExID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsProcessByExID" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessByExID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsProcessByExIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICfPExecute_UpdateCraftsProcessByExID_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q17:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="ICfPExecute">
    <wsdl:operation name="GetCfPExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecute" message="tns:ICfPExecute_GetCfPExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecuteResponse" message="tns:ICfPExecute_GetCfPExecute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecuteCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetCfPExecute_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCfPExecutes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecutes" message="tns:ICfPExecute_GetCfPExecutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecutesResponse" message="tns:ICfPExecute_GetCfPExecutes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecutesCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetCfPExecutes_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDurmsUpFeedingByArrCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByArrCode" message="tns:ICfPExecute_GetDurmsUpFeedingByArrCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByArrCodeResponse" message="tns:ICfPExecute_GetDurmsUpFeedingByArrCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByArrCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetDurmsUpFeedingByArrCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDurmsUpFeedingByDevCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByDevCode" message="tns:ICfPExecute_GetDurmsUpFeedingByDevCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByDevCodeResponse" message="tns:ICfPExecute_GetDurmsUpFeedingByDevCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByDevCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetDurmsUpFeedingByDevCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLog" message="tns:ICfPExecute_GetArrangedVouchLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLogResponse" message="tns:ICfPExecute_GetArrangedVouchLog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLogCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetArrangedVouchLog_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchLogByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLogByCode" message="tns:ICfPExecute_GetArrangedVouchLogByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLogByCodeResponse" message="tns:ICfPExecute_GetArrangedVouchLogByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchLogByCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetArrangedVouchLogByCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsterArrVouchByVw">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchByVw" message="tns:ICfPExecute_InsterArrVouchByVw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchByVwResponse" message="tns:ICfPExecute_InsterArrVouchByVw_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchByVwCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_InsterArrVouchByVw_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsterArrVouchLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchLog" message="tns:ICfPExecute_InsterArrVouchLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchLogResponse" message="tns:ICfPExecute_InsterArrVouchLog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/InsterArrVouchLogCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_InsterArrVouchLog_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeCraftsProcessdByWorkbrachName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GeCraftsProcessdByWorkbrachName" message="tns:ICfPExecute_GeCraftsProcessdByWorkbrachName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GeCraftsProcessdByWorkbrachNameResponse" message="tns:ICfPExecute_GeCraftsProcessdByWorkbrachName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GeCraftsProcessdByWorkbrachNameCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GeCraftsProcessdByWorkbrachName_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedBySameTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedBySameTime" message="tns:ICfPExecute_GetArrangedBySameTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedBySameTimeResponse" message="tns:ICfPExecute_GetArrangedBySameTime_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedBySameTimeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetArrangedBySameTime_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangedVouchCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchCode" message="tns:ICfPExecute_UpdateArrangedVouchCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchCodeResponse" message="tns:ICfPExecute_UpdateArrangedVouchCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_UpdateArrangedVouchCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsProcessExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessExecute" message="tns:ICfPExecute_UpdateCraftsProcessExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessExecuteResponse" message="tns:ICfPExecute_UpdateCraftsProcessExecute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessExecuteCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_UpdateCraftsProcessExecute_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getvw_DurmsUpFeedingByWorkbrachName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/Getvw_DurmsUpFeedingByWorkbrachName" message="tns:ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/Getvw_DurmsUpFeedingByWorkbrachNameResponse" message="tns:ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/Getvw_DurmsUpFeedingByWorkbrachNameCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_Getvw_DurmsUpFeedingByWorkbrachName_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangedVouchWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchWeight" message="tns:ICfPExecute_UpdateArrangedVouchWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchWeightResponse" message="tns:ICfPExecute_UpdateArrangedVouchWeight_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/UpdateArrangedVouchWeightCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_UpdateArrangedVouchWeight_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchCodeByLicensenNum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchCodeByLicensenNum" message="tns:ICfPExecute_GetArrangedVouchCodeByLicensenNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchCodeByLicensenNumResponse" message="tns:ICfPExecute_GetArrangedVouchCodeByLicensenNum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetArrangedVouchCodeByLicensenNumCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetArrangedVouchCodeByLicensenNum_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCfPExecuteByArrangedVouchCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecuteByArrangedVouchCode" message="tns:ICfPExecute_GetCfPExecuteByArrangedVouchCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecuteByArrangedVouchCodeResponse" message="tns:ICfPExecute_GetCfPExecuteByArrangedVouchCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/GetCfPExecuteByArrangedVouchCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_GetCfPExecuteByArrangedVouchCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsProcessByExID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessByExID" message="tns:ICfPExecute_UpdateCraftsProcessByExID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessByExIDResponse" message="tns:ICfPExecute_UpdateCraftsProcessByExID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICfPExecute/UpdateCraftsProcessByExIDCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICfPExecute_UpdateCraftsProcessByExID_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICfPExecute" type="tns:ICfPExecute">
    <wsp:PolicyReference URI="#WSHttpBinding_ICfPExecute_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCfPExecute">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetCfPExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCfPExecutes">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetCfPExecutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDurmsUpFeedingByArrCode">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByArrCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDurmsUpFeedingByDevCode">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetDurmsUpFeedingByDevCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchLog">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetArrangedVouchLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchLogByCode">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetArrangedVouchLogByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsterArrVouchByVw">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/InsterArrVouchByVw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsterArrVouchLog">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/InsterArrVouchLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeCraftsProcessdByWorkbrachName">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GeCraftsProcessdByWorkbrachName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedBySameTime">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetArrangedBySameTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangedVouchCode">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/UpdateArrangedVouchCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsProcessExecute">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/UpdateCraftsProcessExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Getvw_DurmsUpFeedingByWorkbrachName">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/Getvw_DurmsUpFeedingByWorkbrachName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangedVouchWeight">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/UpdateArrangedVouchWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchCodeByLicensenNum">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetArrangedVouchCodeByLicensenNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCfPExecuteByArrangedVouchCode">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/GetCfPExecuteByArrangedVouchCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsProcessByExID">
      <soap12:operation soapAction="http://tempuri.org/ICfPExecute/UpdateCraftsProcessByExID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CfPExecute">
    <wsdl:port name="WSHttpBinding_ICfPExecute" binding="tns:WSHttpBinding_ICfPExecute">
      <soap12:address location="http://localhost:16498/Drums/CfPExecute.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/Drums/CfPExecute.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>