LY.MES.WFCL/Service References/SRCfPExecute/CfPExecute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCraftsProcessExecuteDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CraftsProcessExecuteDetail" nillable="true" type="tns:CraftsProcessExecuteDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCraftsProcessExecuteDetail" nillable="true" type="tns:ArrayOfCraftsProcessExecuteDetail" />
  <xs:complexType name="CraftsProcessExecuteDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:int" />
      <xs:element minOccurs="0" name="CraftsProcessExecute" nillable="true" type="tns:CraftsProcessExecute" />
      <xs:element minOccurs="0" name="EndDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecuteID" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteStatus" type="xs:int" />
      <xs:element minOccurs="0" name="IntervalDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsValveCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValveControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="LowerValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="StandardValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TriggerDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpperValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CraftsProcessExecuteDetail" nillable="true" type="tns:CraftsProcessExecuteDetail" />
  <xs:complexType name="CraftsProcessExecute">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrangedVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CraftsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CraftsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CraftsProcessExecuteDetail" nillable="true" type="tns:ArrayOfCraftsProcessExecuteDetail" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecuteID" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecuteOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteStatus" type="xs:int" />
      <xs:element minOccurs="0" name="PlanDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WorkbrachCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkbrachName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkshopCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkshopName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CraftsProcessExecute" nillable="true" type="tns:CraftsProcessExecute" />
  <xs:complexType name="ArrayOfCraftsProcessExecute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CraftsProcessExecute" nillable="true" type="tns:CraftsProcessExecute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCraftsProcessExecute" nillable="true" type="tns:ArrayOfCraftsProcessExecute" />
  <xs:complexType name="ArrayOfvw_DurmsUpFeeding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_DurmsUpFeeding" nillable="true" type="tns:vw_DurmsUpFeeding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_DurmsUpFeeding" nillable="true" type="tns:ArrayOfvw_DurmsUpFeeding" />
  <xs:complexType name="vw_DurmsUpFeeding">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrangedVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CraftsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CraftsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveUseStatus" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecuteID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecuteOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FormulaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormulaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterruptionRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterruptionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PlanDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RFIDCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TeachProgress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleWeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VouchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeighingPounds" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightMan" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WorkbrachCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkbrachName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkshopCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkshopName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vwId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vw_DurmsUpFeeding" nillable="true" type="tns:vw_DurmsUpFeeding" />
  <xs:complexType name="ArrayOfArrangedVouchLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrangedVouchLog" nillable="true" type="tns:ArrangedVouchLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrangedVouchLog" nillable="true" type="tns:ArrayOfArrangedVouchLog" />
  <xs:complexType name="ArrangedVouchLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrangedVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutoID" type="xs:int" />
      <xs:element minOccurs="0" name="CraftsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrangedVouchLog" nillable="true" type="tns:ArrangedVouchLog" />
  <xs:complexType name="ArrangedVouch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrangedVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormulaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormulaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterruptionRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterruptionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RFIDCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeachProgress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleWeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VouchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeighingPounds" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightMan" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrangedVouch" nillable="true" type="tns:ArrangedVouch" />
</xs:schema>