LY.MES.WFCL/Service References/SRCfPExecute/CfPExecuteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16498/Drums/CfPExecuteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:complexType name="CommonResultOfCraftsProcessExecuteCraftsProcessExecuteDetail7Kpb7GJA">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CraftsProcessExecute" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
          <GenericParameter Name="CraftsProcessExecuteDetail" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="BodyData" nillable="true" type="q1:ArrayOfCraftsProcessExecuteDetail" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="HeadData" nillable="true" type="q2:CraftsProcessExecute" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfCraftsProcessExecuteCraftsProcessExecuteDetail7Kpb7GJA" nillable="true" type="tns:CommonResultOfCraftsProcessExecuteCraftsProcessExecuteDetail7Kpb7GJA" />
  <xs:complexType name="CustomFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFaultMessage" nillable="true" type="tns:CustomFaultMessage" />
  <xs:complexType name="CommonResultOfArrayOfCraftsProcessExecutedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCraftsProcessExecute" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfCraftsProcessExecute" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfCraftsProcessExecutedYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfCraftsProcessExecutedYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfvw_DurmsUpFeedingdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfvw_DurmsUpFeeding" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfvw_DurmsUpFeeding" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfvw_DurmsUpFeedingdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfvw_DurmsUpFeedingdYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfArrangedVouchLogdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfArrangedVouchLog" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q5:ArrayOfArrangedVouchLog" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfArrangedVouchLogdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfArrangedVouchLogdYMi5huk" />
  <xs:complexType name="CommonResultOfArrangedVouchdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrangedVouch" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q6:ArrangedVouch" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrangedVouchdYMi5huk" nillable="true" type="tns:CommonResultOfArrangedVouchdYMi5huk" />
  <xs:complexType name="CommonResultOfArrangedVouchLogdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrangedVouchLog" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q7:ArrangedVouchLog" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrangedVouchLogdYMi5huk" nillable="true" type="tns:CommonResultOfArrangedVouchLogdYMi5huk" />
  <xs:complexType name="CommonResultOfCraftsProcessExecutedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CraftsProcessExecute" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q8:CraftsProcessExecute" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfCraftsProcessExecutedYMi5huk" nillable="true" type="tns:CommonResultOfCraftsProcessExecutedYMi5huk" />
  <xs:complexType name="CommonResultOfvw_DurmsUpFeedingdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="vw_DurmsUpFeeding" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q9:vw_DurmsUpFeeding" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfvw_DurmsUpFeedingdYMi5huk" nillable="true" type="tns:CommonResultOfvw_DurmsUpFeedingdYMi5huk" />
  <xs:complexType name="CommonResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfboolean" nillable="true" type="tns:CommonResultOfboolean" />
  <xs:complexType name="CommonResultOfPersondYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q10:Person" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfPersondYMi5huk" nillable="true" type="tns:CommonResultOfPersondYMi5huk" />
  <xs:complexType name="CommonResultOfDeviceWorkingConditiondYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeviceWorkingCondition" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q11:DeviceWorkingCondition" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfDeviceWorkingConditiondYMi5huk" nillable="true" type="tns:CommonResultOfDeviceWorkingConditiondYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfIPRegistFormdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfIPRegistForm" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q12:ArrayOfIPRegistForm" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfIPRegistFormdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfIPRegistFormdYMi5huk" />
  <xs:complexType name="CommonResultOfIPRegistFormdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="IPRegistForm" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q13:IPRegistForm" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfIPRegistFormdYMi5huk" nillable="true" type="tns:CommonResultOfIPRegistFormdYMi5huk" />
</xs:schema>