LY.MES.WFCL/Service References/SRPullDetectionReg/PullDetectionRegService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PullDetectionRegService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPullDetectionRegService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPullDetectionRegService_AddPullDetectionReg_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPullDetectionReg" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_AddPullDetectionReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPullDetectionRegResponse" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_AddPullDetectionReg_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_UpdatePullDetectionReg_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePullDetectionReg" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_UpdatePullDetectionReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePullDetectionRegResponse" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_UpdatePullDetectionReg_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_DelPullDetectionReg_InputMessage">
    <wsdl:part name="parameters" element="tns:DelPullDetectionReg" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_DelPullDetectionReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelPullDetectionRegResponse" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_DelPullDetectionReg_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegAutoID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPullDetectionRegAutoID" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegAutoID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPullDetectionRegAutoIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegAutoID_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPullDetectionRegPagedList" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPullDetectionRegPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IPullDetectionRegService_GetPullDetectionRegPagedList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q5:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IPullDetectionRegService">
    <wsdl:operation name="AddPullDetectionReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IPullDetectionRegService/AddPullDetectionReg" message="tns:IPullDetectionRegService_AddPullDetectionReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPullDetectionRegService/AddPullDetectionRegResponse" message="tns:IPullDetectionRegService_AddPullDetectionReg_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPullDetectionRegService/AddPullDetectionRegCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IPullDetectionRegService_AddPullDetectionReg_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePullDetectionReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IPullDetectionRegService/UpdatePullDetectionReg" message="tns:IPullDetectionRegService_UpdatePullDetectionReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPullDetectionRegService/UpdatePullDetectionRegResponse" message="tns:IPullDetectionRegService_UpdatePullDetectionReg_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPullDetectionRegService/UpdatePullDetectionRegCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IPullDetectionRegService_UpdatePullDetectionReg_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelPullDetectionReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IPullDetectionRegService/DelPullDetectionReg" message="tns:IPullDetectionRegService_DelPullDetectionReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPullDetectionRegService/DelPullDetectionRegResponse" message="tns:IPullDetectionRegService_DelPullDetectionReg_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPullDetectionRegService/DelPullDetectionRegCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IPullDetectionRegService_DelPullDetectionReg_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPullDetectionRegAutoID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegAutoID" message="tns:IPullDetectionRegService_GetPullDetectionRegAutoID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegAutoIDResponse" message="tns:IPullDetectionRegService_GetPullDetectionRegAutoID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegAutoIDCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IPullDetectionRegService_GetPullDetectionRegAutoID_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPullDetectionRegPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegPagedList" message="tns:IPullDetectionRegService_GetPullDetectionRegPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegPagedListResponse" message="tns:IPullDetectionRegService_GetPullDetectionRegPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegPagedListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IPullDetectionRegService_GetPullDetectionRegPagedList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPullDetectionRegService" type="tns:IPullDetectionRegService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPullDetectionRegService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPullDetectionReg">
      <soap12:operation soapAction="http://tempuri.org/IPullDetectionRegService/AddPullDetectionReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePullDetectionReg">
      <soap12:operation soapAction="http://tempuri.org/IPullDetectionRegService/UpdatePullDetectionReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelPullDetectionReg">
      <soap12:operation soapAction="http://tempuri.org/IPullDetectionRegService/DelPullDetectionReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPullDetectionRegAutoID">
      <soap12:operation soapAction="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegAutoID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPullDetectionRegPagedList">
      <soap12:operation soapAction="http://tempuri.org/IPullDetectionRegService/GetPullDetectionRegPagedList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PullDetectionRegService">
    <wsdl:port name="WSHttpBinding_IPullDetectionRegService" binding="tns:WSHttpBinding_IPullDetectionRegService">
      <soap12:address location="http://localhost:16498/Winder/PullDetectionRegService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/Winder/PullDetectionRegService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>