LY.MES.WFCL/Service References/SRPullDetectionReg/PullDetectionRegService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
  <xs:import schemaLocation="http://localhost:16498/Winder/PullDetectionRegService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AddPullDetectionReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="model" nillable="true" type="q1:QC_PullDetectionReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPullDetectionRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="AddPullDetectionRegResult" nillable="true" type="q2:CommonResultOfQC_PullDetectionRegdYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePullDetectionReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="model" nillable="true" type="q3:QC_PullDetectionReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePullDetectionRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="UpdatePullDetectionRegResult" nillable="true" type="q4:CommonResultOfQC_PullDetectionRegdYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPullDetectionReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPullDetectionRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="DelPullDetectionRegResult" nillable="true" type="q5:CommonResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDetectionRegAutoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDetectionRegAutoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetPullDetectionRegAutoIDResult" nillable="true" type="q6:CommonResultOfQC_PullDetectionRegdYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDetectionRegPagedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TWhere" nillable="true" type="q7:TupleOfstringArrayOfanyTypety7Ep6D1" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="CurrPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDetectionRegPagedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetPullDetectionRegPagedListResult" nillable="true" type="q8:CommonResultOfArrayOfQC_PullDetectionRegdYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>