LY.MES.WFCL/Service References/SRZhuanGu/ZhuanGuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZhuanGuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IZhuanGuService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/ZhuanGu/ZhuanGuService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/ZhuanGu/ZhuanGuService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/ZhuanGu/ZhuanGuService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/ZhuanGu/ZhuanGuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:16498/ZhuanGu/ZhuanGuService.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZhuanGuService_GetZhuanGuStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZhuanGuStatus" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetZhuanGuStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZhuanGuStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetZhuanGuStatus_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetDevExecuteId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevExecuteId" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetDevExecuteId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevExecuteIdResponse" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetDevExecuteId_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetTempPressureTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTempPressureTable" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetTempPressureTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTempPressureTableResponse" />
  </wsdl:message>
  <wsdl:message name="IZhuanGuService_GetTempPressureTable_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IZhuanGuService">
    <wsdl:operation name="GetZhuanGuStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IZhuanGuService/GetZhuanGuStatus" message="tns:IZhuanGuService_GetZhuanGuStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZhuanGuService/GetZhuanGuStatusResponse" message="tns:IZhuanGuService_GetZhuanGuStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IZhuanGuService/GetZhuanGuStatusCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IZhuanGuService_GetZhuanGuStatus_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevExecuteId">
      <wsdl:input wsaw:Action="http://tempuri.org/IZhuanGuService/GetDevExecuteId" message="tns:IZhuanGuService_GetDevExecuteId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZhuanGuService/GetDevExecuteIdResponse" message="tns:IZhuanGuService_GetDevExecuteId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IZhuanGuService/GetDevExecuteIdCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IZhuanGuService_GetDevExecuteId_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTempPressureTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IZhuanGuService/GetTempPressureTable" message="tns:IZhuanGuService_GetTempPressureTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZhuanGuService/GetTempPressureTableResponse" message="tns:IZhuanGuService_GetTempPressureTable_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IZhuanGuService/GetTempPressureTableCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IZhuanGuService_GetTempPressureTable_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IZhuanGuService" type="tns:IZhuanGuService">
    <wsp:PolicyReference URI="#WSHttpBinding_IZhuanGuService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZhuanGuStatus">
      <soap12:operation soapAction="http://tempuri.org/IZhuanGuService/GetZhuanGuStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDevExecuteId">
      <soap12:operation soapAction="http://tempuri.org/IZhuanGuService/GetDevExecuteId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTempPressureTable">
      <soap12:operation soapAction="http://tempuri.org/IZhuanGuService/GetTempPressureTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZhuanGuService">
    <wsdl:port name="WSHttpBinding_IZhuanGuService" binding="tns:WSHttpBinding_IZhuanGuService">
      <soap12:address location="http://localhost:16498/ZhuanGu/ZhuanGuService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/ZhuanGu/ZhuanGuService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>