LY.MES.WFCL/Service References/SRPiPeline/PipelineService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMainPipelineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainPipelineInfo" nillable="true" type="tns:MainPipelineInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainPipelineInfo" nillable="true" type="tns:ArrayOfMainPipelineInfo" />
  <xs:complexType name="MainPipelineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorReamrk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PipelineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromptDes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainPipelineInfo" nillable="true" type="tns:MainPipelineInfo" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevAbbName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCategory" type="xs:int" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DevDefine12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DevDefine13" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DevDefine14" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DevDefine15" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevDefine16" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevDefine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevDefine9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevQRUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevStd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FContactsTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactoryContacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
</xs:schema>