LY.MES.WFCL/Service References/SRPiPeline/PipelineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16498/Pipeline/PipelineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:16498/Pipeline/PipelineService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
  <xs:import schemaLocation="http://localhost:16498/Pipeline/PipelineService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:element name="GetOperatingRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="tFilter" nillable="true" type="q1:TupleOfstringArrayOfanyTypety7Ep6D1" />
        <xs:element minOccurs="0" name="CurrPage" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatingRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetOperatingRecordResult" nillable="true" type="q2:CommonResultOfArrayOfMainPipelineInfodYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="model" nillable="true" type="q3:MainPipelineInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="AddOperatingDataResult" nillable="true" type="q4:CommonResultOfMainPipelineInfodYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaviceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaviceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetDaviceDataResult" nillable="true" type="q5:CommonResultOfDevicedYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaviceInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DevCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaviceInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetDaviceInformationResult" nillable="true" type="q6:CommonResultOfDevicedYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>