LY.MES.WFCL/Service References/SRExcute/DevExecuteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDeviceExecute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceExecute" nillable="true" type="tns:DeviceExecute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceExecute" nillable="true" type="tns:ArrayOfDeviceExecute" />
  <xs:complexType name="DeviceExecute">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeveCode" type="xs:int" />
      <xs:element minOccurs="0" name="DeviCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceExecute" nillable="true" type="tns:DeviceExecute" />
  <xs:complexType name="ArrayOfV_DV_DevExecute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_DV_DevExecute" nillable="true" type="tns:V_DV_DevExecute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_DV_DevExecute" nillable="true" type="tns:ArrayOfV_DV_DevExecute" />
  <xs:complexType name="V_DV_DevExecute">
    <xs:sequence>
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="串口号" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="偏差值" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="停止位" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="字节长度" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="存放位置" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="工作台状态" type="xs:int" />
      <xs:element minOccurs="0" name="开始地址" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="执行ID" type="xs:int" />
      <xs:element minOccurs="0" name="接口状态" type="xs:int" />
      <xs:element minOccurs="0" name="控制访问地址" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="数据位" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="数据类型" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="数采仪设备状态" type="xs:int" />
      <xs:element minOccurs="0" name="最大量程" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="最小量程" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="校验位" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="波特率" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="设备参数名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备参数编号" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备接口名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备接口编号" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="设备规格" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="访问ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="访问端口" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="转鼓名称" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="转鼓编码" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="采集频率" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_DV_DevExecute" nillable="true" type="tns:V_DV_DevExecute" />
</xs:schema>