LY.MES.WFCL/Service References/SRDataColl/DeviceCollectService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
  <xs:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:element name="GetCollectDataPagedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="twhere" nillable="true" type="q1:TupleOfstringArrayOfanyTypety7Ep6D1" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="CurrPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectDataPagedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="GetCollectDataPagedListResult" nillable="true" type="q2:CommonResultOfArrayOfVCollectDataInfo1w0wSc2f" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddZGParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="model" nillable="true" type="q3:CollectDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddZGParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" minOccurs="0" name="AddZGParameterResult" nillable="true" type="q4:CommonResultOfCollectDataInfodYMi5huk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>