LY.MES.WFCL/Service References/SRDataColl/DeviceCollectService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeviceCollectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDeviceCollectService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
      <xsd:import schemaLocation="http://localhost:16498/DataColl/DeviceCollectService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceCollectService_GetCollectDataPagedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectDataPagedList" />
  </wsdl:message>
  <wsdl:message name="IDeviceCollectService_GetCollectDataPagedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectDataPagedListResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceCollectService_GetCollectDataPagedList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IDeviceCollectService_AddZGParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:AddZGParameter" />
  </wsdl:message>
  <wsdl:message name="IDeviceCollectService_AddZGParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddZGParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceCollectService_AddZGParameter_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IDeviceCollectService">
    <wsdl:operation name="GetCollectDataPagedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceCollectService/GetCollectDataPagedList" message="tns:IDeviceCollectService_GetCollectDataPagedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceCollectService/GetCollectDataPagedListResponse" message="tns:IDeviceCollectService_GetCollectDataPagedList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeviceCollectService/GetCollectDataPagedListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDeviceCollectService_GetCollectDataPagedList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddZGParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceCollectService/AddZGParameter" message="tns:IDeviceCollectService_AddZGParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceCollectService/AddZGParameterResponse" message="tns:IDeviceCollectService_AddZGParameter_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeviceCollectService/AddZGParameterCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IDeviceCollectService_AddZGParameter_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDeviceCollectService" type="tns:IDeviceCollectService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDeviceCollectService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCollectDataPagedList">
      <soap12:operation soapAction="http://tempuri.org/IDeviceCollectService/GetCollectDataPagedList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddZGParameter">
      <soap12:operation soapAction="http://tempuri.org/IDeviceCollectService/AddZGParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceCollectService">
    <wsdl:port name="WSHttpBinding_IDeviceCollectService" binding="tns:WSHttpBinding_IDeviceCollectService">
      <soap12:address location="http://localhost:16498/DataColl/DeviceCollectService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/DataColl/DeviceCollectService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>