LY.MES.WFCL/Service References/SRDataColl/DeviceCollectService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CollectDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      <xs:element minOccurs="0" name="CollValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeveCode" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectDataInfo" nillable="true" type="tns:CollectDataInfo" />
</xs:schema>