LY.MES.WFCL/Service References/SRDevice/DeviceService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/Base/DeviceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:import schemaLocation="http://localhost:1001/Base/DeviceService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
  <xs:complexType name="CommonResultOfDeviceClassdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeviceClass" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q1:DeviceClass" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfDeviceClassdYMi5huk" nillable="true" type="tns:CommonResultOfDeviceClassdYMi5huk" />
  <xs:complexType name="CustomFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFaultMessage" nillable="true" type="tns:CustomFaultMessage" />
  <xs:complexType name="CommonResultOfDeviceParameterdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeviceParameter" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q2:DeviceParameter" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfDeviceParameterdYMi5huk" nillable="true" type="tns:CommonResultOfDeviceParameterdYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfDeviceParameterdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDeviceParameter" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfDeviceParameter" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfDeviceParameterdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfDeviceParameterdYMi5huk" />
  <xs:complexType name="CommonResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfboolean" nillable="true" type="tns:CommonResultOfboolean" />
  <xs:complexType name="CommonResultOfArrayOfDeviceClassdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDeviceClass" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfDeviceClass" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfDeviceClassdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfDeviceClassdYMi5huk" />
  <xs:complexType name="CommonResultOfDevicedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Device" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q5:Device" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfDevicedYMi5huk" nillable="true" type="tns:CommonResultOfDevicedYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfDevicedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDevice" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q6:ArrayOfDevice" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfDevicedYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfDevicedYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfVDeviceInfo1w0wSc2f">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVDeviceInfo" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" minOccurs="0" name="Data" nillable="true" type="q7:ArrayOfVDeviceInfo" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfVDeviceInfo1w0wSc2f" nillable="true" type="tns:CommonResultOfArrayOfVDeviceInfo1w0wSc2f" />
  <xs:complexType name="CommonResultOfDeviceInterfacedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeviceInterface" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q8:DeviceInterface" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfDeviceInterfacedYMi5huk" nillable="true" type="tns:CommonResultOfDeviceInterfacedYMi5huk" />
  <xs:complexType name="CommonResultOfArrayOfDeviceInterfacedYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDeviceInterface" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q9:ArrayOfDeviceInterface" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfDeviceInterfacedYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfDeviceInterfacedYMi5huk" />
</xs:schema>