LY.MES.WFCL/Service References/SRDevice/DeviceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupCCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceClass" nillable="true" type="tns:DeviceClass" />
  <xs:complexType name="DeviceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaudRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckBit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataBit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StopBit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceParameter" nillable="true" type="tns:DeviceParameter" />
  <xs:complexType name="ArrayOfDeviceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceParameter" nillable="true" type="tns:DeviceParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceParameter" nillable="true" type="tns:ArrayOfDeviceParameter" />
  <xs:complexType name="ArrayOfDeviceClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceClass" nillable="true" type="tns:DeviceClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceClass" nillable="true" type="tns:ArrayOfDeviceClass" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCategory" type="xs:int" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevQRUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevStd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FContactsTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactoryContacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="DeviceInterface">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConAccAddress" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevpAddress" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DevpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTwoWay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceInterface" nillable="true" type="tns:DeviceInterface" />
  <xs:complexType name="ArrayOfDeviceInterface">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceInterface" nillable="true" type="tns:DeviceInterface" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceInterface" nillable="true" type="tns:ArrayOfDeviceInterface" />
</xs:schema>