LY.MES.WFCL/Service References/SRQZData/QZDataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QZDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IQZDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/ThirdSystem/QZDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/ThirdSystem/QZDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/ThirdSystem/QZDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/ThirdSystem/QZDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQZDataService_GetQualityInspector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualityInspector" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetQualityInspector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualityInspectorResponse" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetQualityInspector_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetOrderSchData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderSchData" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetOrderSchData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderSchDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetOrderSchData_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetOrderSchData1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderSchData1" />
  </wsdl:message>
  <wsdl:message name="IQZDataService_GetOrderSchData1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderSchData1Response" />
  </wsdl:message>
  <wsdl:portType name="IQZDataService">
    <wsdl:operation name="GetQualityInspector">
      <wsdl:input wsaw:Action="http://tempuri.org/IQZDataService/GetQualityInspector" message="tns:IQZDataService_GetQualityInspector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQZDataService/GetQualityInspectorResponse" message="tns:IQZDataService_GetQualityInspector_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQZDataService/GetQualityInspectorCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IQZDataService_GetQualityInspector_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderSchData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQZDataService/GetOrderSchData" message="tns:IQZDataService_GetOrderSchData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQZDataService/GetOrderSchDataResponse" message="tns:IQZDataService_GetOrderSchData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQZDataService/GetOrderSchDataCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IQZDataService_GetOrderSchData_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderSchData1">
      <wsdl:input wsaw:Action="http://tempuri.org/IQZDataService/GetOrderSchData1" message="tns:IQZDataService_GetOrderSchData1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQZDataService/GetOrderSchData1Response" message="tns:IQZDataService_GetOrderSchData1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IQZDataService" type="tns:IQZDataService">
    <wsp:PolicyReference URI="#WSHttpBinding_IQZDataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQualityInspector">
      <soap12:operation soapAction="http://tempuri.org/IQZDataService/GetQualityInspector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderSchData">
      <soap12:operation soapAction="http://tempuri.org/IQZDataService/GetOrderSchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderSchData1">
      <soap12:operation soapAction="http://tempuri.org/IQZDataService/GetOrderSchData1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QZDataService">
    <wsdl:port name="WSHttpBinding_IQZDataService" binding="tns:WSHttpBinding_IQZDataService">
      <soap12:address location="http://localhost:16498/ThirdSystem/QZDataService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/ThirdSystem/QZDataService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>