LY.MES.WFCL/Service References/SRQZData/QZDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="sj_line">
    <xs:sequence>
      <xs:element minOccurs="0" name="fweightused" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jihao" type="xs:int" />
      <xs:element minOccurs="0" name="line" type="xs:int" />
      <xs:element minOccurs="0" name="names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paichan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serial" type="xs:int" />
      <xs:element minOccurs="0" name="shengchan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="types" type="xs:int" />
      <xs:element minOccurs="0" name="weightA" type="xs:decimal" />
      <xs:element minOccurs="0" name="weightB" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sj_line" nillable="true" type="tns:sj_line" />
</xs:schema>