LY.MES.WFCL/Service References/SRBase/BaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IBaseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/Base/BaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/Base/BaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/Base/BaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/Base/BaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaseService_AddCraftsParameterContrast_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCraftsParameterContrast" />
  </wsdl:message>
  <wsdl:message name="IBaseService_AddCraftsParameterContrast_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCraftsParameterContrastResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseService_AddCraftsParameterContrast_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IBaseService_UpdateCraftsParameterContrast_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsParameterContrast" />
  </wsdl:message>
  <wsdl:message name="IBaseService_UpdateCraftsParameterContrast_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCraftsParameterContrastResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseService_UpdateCraftsParameterContrast_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastListByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCraftsParameterContrastListByID" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastListByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCraftsParameterContrastListByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastListByID_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IBaseService_DelCraftsParameterContrastListByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCraftsParameterContrastListByID" />
  </wsdl:message>
  <wsdl:message name="IBaseService_DelCraftsParameterContrastListByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCraftsParameterContrastListByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseService_DelCraftsParameterContrastListByID_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCraftsParameterContrastList" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCraftsParameterContrastListResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseService_GetCraftsParameterContrastList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q5:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IBaseService">
    <wsdl:operation name="AddCraftsParameterContrast">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/AddCraftsParameterContrast" message="tns:IBaseService_AddCraftsParameterContrast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/AddCraftsParameterContrastResponse" message="tns:IBaseService_AddCraftsParameterContrast_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBaseService/AddCraftsParameterContrastCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IBaseService_AddCraftsParameterContrast_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsParameterContrast">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/UpdateCraftsParameterContrast" message="tns:IBaseService_UpdateCraftsParameterContrast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/UpdateCraftsParameterContrastResponse" message="tns:IBaseService_UpdateCraftsParameterContrast_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBaseService/UpdateCraftsParameterContrastCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IBaseService_UpdateCraftsParameterContrast_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCraftsParameterContrastListByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastListByID" message="tns:IBaseService_GetCraftsParameterContrastListByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastListByIDResponse" message="tns:IBaseService_GetCraftsParameterContrastListByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastListByIDCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IBaseService_GetCraftsParameterContrastListByID_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCraftsParameterContrastListByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/DelCraftsParameterContrastListByID" message="tns:IBaseService_DelCraftsParameterContrastListByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/DelCraftsParameterContrastListByIDResponse" message="tns:IBaseService_DelCraftsParameterContrastListByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBaseService/DelCraftsParameterContrastListByIDCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IBaseService_DelCraftsParameterContrastListByID_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCraftsParameterContrastList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastList" message="tns:IBaseService_GetCraftsParameterContrastList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastListResponse" message="tns:IBaseService_GetCraftsParameterContrastList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBaseService/GetCraftsParameterContrastListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IBaseService_GetCraftsParameterContrastList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IBaseService" type="tns:IBaseService">
    <wsp:PolicyReference URI="#WSHttpBinding_IBaseService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCraftsParameterContrast">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/AddCraftsParameterContrast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCraftsParameterContrast">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/UpdateCraftsParameterContrast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCraftsParameterContrastListByID">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/GetCraftsParameterContrastListByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelCraftsParameterContrastListByID">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/DelCraftsParameterContrastListByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCraftsParameterContrastList">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/GetCraftsParameterContrastList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseService">
    <wsdl:port name="WSHttpBinding_IBaseService" binding="tns:WSHttpBinding_IBaseService">
      <soap12:address location="http://localhost:16498/Base/BaseService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/Base/BaseService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>