LY.MES.WFCL/Service References/SRBase/BaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CraftsParameterContrast">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CraftsParameterContrast" nillable="true" type="tns:CraftsParameterContrast" />
  <xs:complexType name="ArrayOfCraftsParameterContrast">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CraftsParameterContrast" nillable="true" type="tns:CraftsParameterContrast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCraftsParameterContrast" nillable="true" type="tns:ArrayOfCraftsParameterContrast" />
</xs:schema>