LY.MES.WFCL/Service References/SRArrangedVouch/ArrangedVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArrangedVService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IArrangedVService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchByCode" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchList" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchListResponse" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_UdateArrUserStatusByArrCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UdateArrUserStatusByArrCode" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_UdateArrUserStatusByArrCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UdateArrUserStatusByArrCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_UdateArrUserStatusByArrCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByMulaCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchByMulaCode" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByMulaCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrangedVouchByMulaCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IArrangedVService_GetArrangedVouchByMulaCode_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IArrangedVService">
    <wsdl:operation name="GetArrangedVouchByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByCode" message="tns:IArrangedVService_GetArrangedVouchByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByCodeResponse" message="tns:IArrangedVService_GetArrangedVouchByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IArrangedVService_GetArrangedVouchByCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchList" message="tns:IArrangedVService_GetArrangedVouchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchListResponse" message="tns:IArrangedVService_GetArrangedVouchList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IArrangedVService_GetArrangedVouchList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UdateArrUserStatusByArrCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IArrangedVService/UdateArrUserStatusByArrCode" message="tns:IArrangedVService_UdateArrUserStatusByArrCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArrangedVService/UdateArrUserStatusByArrCodeResponse" message="tns:IArrangedVService_UdateArrUserStatusByArrCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArrangedVService/UdateArrUserStatusByArrCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IArrangedVService_UdateArrUserStatusByArrCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchByMulaCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByMulaCode" message="tns:IArrangedVService_GetArrangedVouchByMulaCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByMulaCodeResponse" message="tns:IArrangedVService_GetArrangedVouchByMulaCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArrangedVService/GetArrangedVouchByMulaCodeCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:IArrangedVService_GetArrangedVouchByMulaCode_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IArrangedVService" type="tns:IArrangedVService">
    <wsp:PolicyReference URI="#WSHttpBinding_IArrangedVService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArrangedVouchByCode">
      <soap12:operation soapAction="http://tempuri.org/IArrangedVService/GetArrangedVouchByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchList">
      <soap12:operation soapAction="http://tempuri.org/IArrangedVService/GetArrangedVouchList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdateArrUserStatusByArrCode">
      <soap12:operation soapAction="http://tempuri.org/IArrangedVService/UdateArrUserStatusByArrCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArrangedVouchByMulaCode">
      <soap12:operation soapAction="http://tempuri.org/IArrangedVService/GetArrangedVouchByMulaCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArrangedVService">
    <wsdl:port name="WSHttpBinding_IArrangedVService" binding="tns:WSHttpBinding_IArrangedVService">
      <soap12:address location="http://localhost:16498/Drums/ArrangedVService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16498/Drums/ArrangedVService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>