LY.MES.WFCL/Service References/SRArrangedVouch/ArrangedVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrangedVouch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrangedVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormulaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormulaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterruptionRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterruptionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialVouchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutputWeight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProPlanNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFIDCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeachProgress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleWeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VouchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VouchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeighingPounds" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightMan" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrangedVouch" nillable="true" type="tns:ArrangedVouch" />
  <xs:complexType name="ArrayOfArrangedVouch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrangedVouch" nillable="true" type="tns:ArrangedVouch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrangedVouch" nillable="true" type="tns:ArrayOfArrangedVouch" />
</xs:schema>