LY.MES.WFCL/Service References/SRArrangedVouch/ArrangedVService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16498/Drums/ArrangedVService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:complexType name="CommonResultOfArrangedVouchdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrangedVouch" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q1:ArrangedVouch" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrangedVouchdYMi5huk" nillable="true" type="tns:CommonResultOfArrangedVouchdYMi5huk" />
  <xs:complexType name="CustomFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFaultMessage" nillable="true" type="tns:CustomFaultMessage" />
  <xs:complexType name="CommonResultOfArrayOfArrangedVouchdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfArrangedVouch" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfArrangedVouch" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfArrangedVouchdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfArrangedVouchdYMi5huk" />
</xs:schema>