LY.MES.WFCL/Service References/SRFindLeak/QCDFindLeakService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QC_DrumsFindLeakReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLSituation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLVCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Week" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QC_DrumsFindLeakReport" nillable="true" type="tns:QC_DrumsFindLeakReport" />
  <xs:complexType name="ArrayOfQC_DrumsFindLeakReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QC_DrumsFindLeakReport" nillable="true" type="tns:QC_DrumsFindLeakReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQC_DrumsFindLeakReport" nillable="true" type="tns:ArrayOfQC_DrumsFindLeakReport" />
</xs:schema>