LY.MES.WFCL/Service References/SRCLParamSet/CLParamSetSerivce1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CLParamSetSerivce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICLParamSetSerivce_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Utility" />
      <xsd:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
      <xsd:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICLParamSetSerivce_AddCLParamSet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCLParamSet" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_AddCLParamSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCLParamSetResponse" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_AddCLParamSet_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q1:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_UpdateCLParamSet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCLParamSet" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_UpdateCLParamSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCLParamSetResponse" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_UpdateCLParamSet_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q2:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_DelCLParamSet_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCLParamSet" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_DelCLParamSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCLParamSetResponse" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_DelCLParamSet_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q3:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCLParamSetList" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCLParamSetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q4:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCLParamSetsList" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCLParamSetsListResponse" />
  </wsdl:message>
  <wsdl:message name="ICLParamSetSerivce_GetCLParamSetsList_CustomFaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Utility" name="detail" element="q5:CustomFaultMessage" />
  </wsdl:message>
  <wsdl:portType name="ICLParamSetSerivce">
    <wsdl:operation name="AddCLParamSet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLParamSetSerivce/AddCLParamSet" message="tns:ICLParamSetSerivce_AddCLParamSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLParamSetSerivce/AddCLParamSetResponse" message="tns:ICLParamSetSerivce_AddCLParamSet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICLParamSetSerivce/AddCLParamSetCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICLParamSetSerivce_AddCLParamSet_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCLParamSet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLParamSetSerivce/UpdateCLParamSet" message="tns:ICLParamSetSerivce_UpdateCLParamSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLParamSetSerivce/UpdateCLParamSetResponse" message="tns:ICLParamSetSerivce_UpdateCLParamSet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICLParamSetSerivce/UpdateCLParamSetCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICLParamSetSerivce_UpdateCLParamSet_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCLParamSet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLParamSetSerivce/DelCLParamSet" message="tns:ICLParamSetSerivce_DelCLParamSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLParamSetSerivce/DelCLParamSetResponse" message="tns:ICLParamSetSerivce_DelCLParamSet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICLParamSetSerivce/DelCLParamSetCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICLParamSetSerivce_DelCLParamSet_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCLParamSetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetList" message="tns:ICLParamSetSerivce_GetCLParamSetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetListResponse" message="tns:ICLParamSetSerivce_GetCLParamSetList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICLParamSetSerivce_GetCLParamSetList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCLParamSetsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetsList" message="tns:ICLParamSetSerivce_GetCLParamSetsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetsListResponse" message="tns:ICLParamSetSerivce_GetCLParamSetsList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetsListCustomFaultMessageFault" name="CustomFaultMessageFault" message="tns:ICLParamSetSerivce_GetCLParamSetsList_CustomFaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICLParamSetSerivce" type="tns:ICLParamSetSerivce">
    <wsp:PolicyReference URI="#WSHttpBinding_ICLParamSetSerivce_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCLParamSet">
      <soap12:operation soapAction="http://tempuri.org/ICLParamSetSerivce/AddCLParamSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCLParamSet">
      <soap12:operation soapAction="http://tempuri.org/ICLParamSetSerivce/UpdateCLParamSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelCLParamSet">
      <soap12:operation soapAction="http://tempuri.org/ICLParamSetSerivce/DelCLParamSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCLParamSetList">
      <soap12:operation soapAction="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCLParamSetsList">
      <soap12:operation soapAction="http://tempuri.org/ICLParamSetSerivce/GetCLParamSetsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultMessageFault">
        <soap12:fault use="literal" name="CustomFaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CLParamSetSerivce">
    <wsdl:port name="WSHttpBinding_ICLParamSetSerivce" binding="tns:WSHttpBinding_ICLParamSetSerivce">
      <soap12:address location="http://localhost:1001/Base/CLParamSetSerivce.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1001/Base/CLParamSetSerivce.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>