LY.MES.WFCL/Service References/SRCLParamSet/CLParamSetSerivce.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
  <xs:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:complexType name="CommonResultOfCraftsLineParamSetVCraftsLineParamSetDetaildAbW2S3Q">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CraftsLineParamSet" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
          <GenericParameter Name="VCraftsLineParamSetDetail" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" minOccurs="0" name="BodyData" nillable="true" type="q1:ArrayOfVCraftsLineParamSetDetail" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="HeadData" nillable="true" type="q2:CraftsLineParamSet" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfCraftsLineParamSetVCraftsLineParamSetDetaildAbW2S3Q" nillable="true" type="tns:CommonResultOfCraftsLineParamSetVCraftsLineParamSetDetaildAbW2S3Q" />
  <xs:complexType name="CustomFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFaultMessage" nillable="true" type="tns:CustomFaultMessage" />
  <xs:complexType name="CommonResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfboolean" nillable="true" type="tns:CommonResultOfboolean" />
  <xs:complexType name="CommonResultOfArrayOfCraftsLineParamSetdYMi5huk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCraftsLineParamSet" Namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LY.MES.Model" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfCraftsLineParamSet" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResultOfArrayOfCraftsLineParamSetdYMi5huk" nillable="true" type="tns:CommonResultOfArrayOfCraftsLineParamSetdYMi5huk" />
</xs:schema>