LY.MES.WFCL/Service References/SRCLParamSet/CLParamSetSerivce42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LY.MES.Model.VModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/Base/CLParamSetSerivce.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LY.MES.Model" />
  <xs:complexType name="ArrayOfVCraftsLineParamSetDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCraftsLineParamSetDetail" nillable="true" type="tns:VCraftsLineParamSetDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCraftsLineParamSetDetail" nillable="true" type="tns:ArrayOfVCraftsLineParamSetDetail" />
  <xs:complexType name="VCraftsLineParamSetDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/LY.MES.Model" base="q1:CraftsLineParamSetDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="Editprop" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VCraftsLineParamSetDetail" nillable="true" type="tns:VCraftsLineParamSetDetail" />
</xs:schema>